#second {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;

}

#header-holder {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

#header-holder h1 {
    font-family:  'Passions Conflict', cursive;
    font-size: 7vw;
    font-weight: 600;
}
#second p {
    color: #2F3135;
}
#header-holder p {
    font-size: 1.3vw;
}
.item h3 {
    font-size: 1.4vw;
    padding-top: 2vh;
}
.item p{
    font-size: 1.2vw;
}

#items-list{
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.item {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.item img {
    max-width: 200px;
    height: auto;
   
}

#footer, #more-info{
    
    display: flex;
    justify-content: center;
}

#footer button {
    background-color: rgb(46, 44, 44);
    color: white;
    padding: 1em 2em;
    font-weight: 600;
    margin-top:1.5em;
    font-size: 1vw;
    border-radius: 20px ;
}

@media (max-width:992px) {
    #items-list {
        max-width: 95%;
    }
}

@media (max-width:786px) {
    #second{
        height: fit-content;
    }
    #header-holder{
        z-index: 2;
    }
    #items-list{
        display: block;
        
    }
    .item{
        width: 80%;
        margin: auto;
        align-items: center;
    }
    .item-content h3{
        font-size: 2.5vw;
    }
    .item-content p{
        font-size: 2vw;
    }
    .item img {
        max-width: 300px;
    }
    #footer button{
        font-size: 2vw;
    }
}
